#wrapper2 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 8% 10% 25% 10% ;
    height: 140vh;
    width: 100%;
    gap: 5px;
    grid-template-areas: 
    'nv nv nv nv'
    'hd hd hd hd'
    'sc1 sc1 sc1 sc1'
    'sc2 sc2 sc2 sc2'
    'sc3 sc3 sc3 sc3'
    'ft ft ft ft'
    ;
}

header{
    grid-area: hd;
    background-color: #2ecc71;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    
}

nav{
    grid-area: nv;
    background-color: white;
    display: flex;
}

nav a{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #2ecc71;
}

nav a:hover{
    background-color: #2ecc71;
    color: white;
    text-decoration: none;
}

#section1{
    grid-area: sc1;
    background-image: url(../img/code.jpg);
    background-size: cover;

}

section{
    background-color: white;
    display: flex;
}

#section2 a
{
    grid-area: sc2;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
}

section a:hover{
  background-color: #2ecc71;
  color: white;
  text-decoration: none;
}

#section3{
    grid-area: sc3;
    background-color: #2ecc71;
    padding: 5px;
}

footer{
    grid-area: ft;
    background-color: black;
    color:white;
    text-align: center;
}


#wrapper3 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 8% 10% 35% 25%  ;
    height: 100vh;
    width: 100%;
    gap: 5px;
    grid-template-areas: 
    'nv2 nv2 nv2 nv2'
    'hd1 hd1 hd1 hd1'
    'scA scA scA scA'
    'scB scB scB scB'
    'ft1 ft1 ft1 ft1'
    ;

}

#ab{
    grid-area: nv2;
    background-color: white;
    display: flex;
}

#ab a{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #2ecc71;
}

#ab a:hover{
    background-color: #2ecc71;
    color: white;
    text-decoration: none;
}


#header2 {
    grid-area: hd1;
    background-color: #2ecc71;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    
}

#sectionA{
    grid-area: scA;
    background-image: url(../img/working.avif);
    background-size:200px;
    
}

#sectionB {
    grid-area: scB;
    display: flex;
    background-color: #2ecc71;
}


#ft1 {
    grid-area: ft1;
    background-color: black;
    text-align: center;
    align-items: center;
}

